Data Reading

In [17]:
import pandas as pd

movies_df = pd.read_csv('./resources/movies.csv')
ratings_df = pd.read_csv('./resources/ratings.csv')

ratings_df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

Lets reduce the number of rows in ratings_df by only considering movies relevant enough to be given atleast 100 ratings in order to ease computation

In [16]:
agg_ratings = ratings_df.groupby('movieId').movieId.count()
agg_ratings_gt100 = agg_ratings[agg_ratings.values > 100]

ratings_reduced = ratings_df[ratings_df.movieId.isin(agg_ratings_gt100.index)]
ratings_reduced

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
7            1      110     4.0   964982176
...        ...      ...     ...         ...
100217     610    48516     5.0  1479542152
100310     610    58559     4.5  1493844688
100326     610    60069     4.5  1493844866
100380     610    68954     3.5  1493844881
100452     610    79132     4.0  1493844703

[19788 rows x 4 columns]