Data Reading

In [26]:
import pandas as pd

movies_df = pd.read_csv('./resources/movies.csv')
ratings_df = pd.read_csv('./resources/ratings.csv')

print(ratings_df.shape)
ratings_df.head()

(100836, 4)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

Lets reduce the number of rows in ratings_df by only considering movies relevant enough to be given atleast 100 ratings in order to ease computation

In [25]:
agg_ratings = ratings_df.groupby('movieId').movieId.count()
agg_ratings_gt100 = agg_ratings[agg_ratings.values > 100]

ratings_reduced = ratings_df[ratings_df.movieId.isin(agg_ratings_gt100.index)]
print(ratings_reduced.shape)
ratings_reduced.head()

(19788, 4)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
7       1      110     4.0  964982176

To find how much each user is related to each other based on how they rate movies, let's apply Pearson's correlation on a dataframe with userId as index, movieId as columns & each cell indicating the ratings given by a particular user on a specific movie

In [24]:
movieUserMatrix = ratings_reduced.pivot(index=['userId'], columns=['movieId'], values=['rating'])
print(movieUserMatrix.shape)
movieUserMatrix.head()

(597, 134)

        rating                                                        ...  \
movieId  1     2     6     10    32    34    39    47    50    110    ...
userId                                                                ...
1          4.0   NaN   4.0   NaN   NaN   NaN   NaN   5.0   5.0   4.0  ...
2          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
3          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
4          NaN   NaN   NaN   NaN   2.0   NaN   NaN   2.0   NaN   NaN  ...
5          4.0   NaN   NaN   NaN   NaN   4.0   3.0   NaN   4.0   4.0  ...


movieId 7153  7361  7438  8961  33794 48516 58559 60069 68954 79132
userId
1         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2         NaN   NaN   NaN   NaN   NaN   4.0   4.5   NaN   NaN   4.0
3         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[5 rows x 134 columns]

Let's normalize movieRatingsMatrix

In [23]:
movieUserMatrix_norm = movieUserMatrix.subtract(movieUserMatrix.mean(axis=1), axis=0)
print(movieUserMatrix_norm.shape)
movieUserMatrix_norm.head()

(597, 134)

           rating                                                      \
movieId     1     2         6     10        32        34        39
userId
1       -0.392857   NaN -0.392857   NaN       NaN       NaN       NaN
2             NaN   NaN       NaN   NaN       NaN       NaN       NaN
3             NaN   NaN       NaN   NaN       NaN       NaN       NaN
4             NaN   NaN       NaN   NaN -1.382353       NaN       NaN
5        0.538462   NaN       NaN   NaN       NaN  0.538462 -0.461538

                                       ...                                \
movieId     47        50        110    ... 7153  7361  7438  8961  33794
userId                                 ...
1        0.607143  0.607143 -0.392857  ...   NaN   NaN   NaN   NaN   NaN
2             NaN       NaN       NaN  ...   NaN   NaN   NaN   NaN   NaN
3             NaN       NaN       NaN  ...   NaN   NaN   NaN   NaN   NaN
4       -1.382353       NaN       NaN  ...   NaN   NaN   NaN   NaN   NaN
5             NaN  0.538462  0.538462  ...   NaN   NaN   NaN   NaN   NaN


movieId 48516 58559 60069 68954 79132
userId
1         NaN   NaN   NaN   NaN   NaN
2         0.0   0.5   NaN   NaN   0.0
3         NaN   NaN   NaN   NaN   NaN
4         NaN   NaN   NaN   NaN   NaN
5         NaN   NaN   NaN   NaN   NaN

[5 rows x 134 columns]

Applying Pearson's Correlation on movieUserMatrix

In [27]:
user_similarity = movieUserMatrix_norm.T.corr()
print(user_similarity.shape)
user_similarity.head()

(597, 597)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,NaN,NaN,0.391797,0.180151,-0.439941,-0.029894,0.464277,1.0,-0.037987,...,9.157371e-02,0.254514,0.101482,-0.500000,0.780020,0.303854,-0.012077,0.242309,-0.175412,0.071553
2,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,...,-5.833333e-01,NaN,-1.000000,NaN,NaN,0.583333,NaN,-0.229416,NaN,0.765641
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.391797,NaN,NaN,1.000000,-0.394823,0.421927,0.704669,0.055442,NaN,0.360399,...,-2.393249e-01,0.562500,0.162301,-0.158114,0.905134,0.021898,-0.020659,-0.286872,NaN,-0.050868
5,0.180151,NaN,NaN,-0.394823,1.000000,-0.006888,0.328889,0.030168,NaN,-0.777714,...,-4.532467e-17,0.231642,0.131108,0.068621,-0.245026,0.377341,0.228218,0.263139,0.384111,0.040582